requests==2.33.1
numpy==2.4.4
pandas==3.0.2
rasterio==1.4.4
geopandas==1.1.4
shapely==2.1.2
osmnx==2.1.1
networkx==3.6.1
scipy==1.17.1
fastapi==0.141.1
uvicorn==0.46.0
psycopg[binary]==3.3.5
sqlalchemy==2.0.52
geoalchemy2==0.20.0
pydantic==2.13.3
